# Plan 045 Java I2P 2.12.0 template; values are generated per namespace.
i2p.dir.config=@CONFIG_DIR@
i2np.allowLocal=true
i2np.ntcp.enable=true
i2np.ntcp.hostname=@NTCP2_ADDRESS@
i2np.ntcp.port=@NTCP2_PORT@
i2np.ntcp.autoip=false
i2np.ntcp.autoport=false
i2np.ntcp.ipv6=@ADDRESS_FAMILY_IPV6@
i2np.ntcp2.enable=true
i2np.upnp.enable=false
router.networkID=99
router.reseedDisable=true
router.updateDisabled=true
router.floodfillParticipant=false
router.sharePercentage=0
router.maxParticipatingTunnels=0
router.newsRefreshFrequency=0
i2np.udp.enable=false
i2np.udp.address=
i2np.udp.port=0
i2np.udp.autoip=false
